<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Enlazar las css</title>
</head>
<body>
    <!--
         formas de trabajar con css
         1.a traves de la etiqueta style
         2.como propiedad de una etiqueta style
         3. como archivo externo y enlazado atraves de la etiqueta link
    -->
    <header>
    <h1>Enlaces de CSS</h1>
    </header>
    <main>
       <div style="border:10px dotted Gold;">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, itaque nemo iure dolor, ex sit voluptatibus ullam enim ratione provident exercitationem incidunt dolores modi in optio, nostrum cum qui. Iure.
        Nesciunt fugit dignissimos consectetur labore molestiae ipsum veritatis quo iste blanditiis, ut optio perferendis, aliquid ab at exercitationem. Minima ut facere saepe beatae quaerat, odio culpa optio dignissimos magnam corporis.
        Minima natus fuga sit! Praesentium laudantium ullam nemo minus dolorem neque! Delectus, quos quod. Facere nesciunt dolorum amet, inventore voluptas voluptatum repellat impedit nemo obcaecati minima eaque illo aspernatur minus.</p>

       </div> 
       <h2>Subtitulo</h2>
       <div class="articulo1">
        
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum voluptatum ex beatae tempora tenetur ad, sint officia? Earum labore impedit quo, sit, nisi repellat vel quas similique unde ut ratione.
        Ad inventore natus at doloremque, minima dolorem, molestias ducimus numquam, placeat neque laudantium sapiente nostrum in odio quaerat iusto delectus quam nihil? Optio sequi sit magnam repudiandae, impedit cupiditate porro?
        Nihil fugit animi perspiciatis fuga quae quidem deleniti placeat similique sunt voluptas ab quasi, necessitatibus sint suscipit aperiam! Cumque provident, voluptate sint rerum repellendus perspiciatis aliquid quas quae officia cum!
        Voluptates distinctio voluptate illo. Fuga iste alias, quidem corporis, ipsam odit illo atque qui sunt molestiae est provident! Enim tempora vel rerum pariatur dolorum exercitationem incidunt odio itaque, et iusto.</p>
       </div>
       <h2>Subtitulo 2</h2>  
       <div class="articulo1">
        
        <p id="secondParrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum voluptatum ex beatae tempora tenetur ad, sint officia? Earum labore impedit quo, sit, nisi repellat vel quas similique unde ut ratione.
        Ad inventore natus at doloremque, minima dolorem, molestias ducimus numquam, placeat neque laudantium sapiente nostrum in odio quaerat iusto delectus quam nihil? Optio sequi sit magnam repudiandae, impedit cupiditate porro?
        Nihil fugit animi perspiciatis fuga quae quidem deleniti placeat similique sunt voluptas ab quasi, necessitatibus sint suscipit aperiam! Cumque provident, voluptate sint rerum repellendus perspiciatis aliquid quas quae officia cum!
        Voluptates distinctio voluptate illo. Fuga iste alias, quidem corporis, ipsam odit illo atque qui sunt molestiae est provident! Enim tempora vel rerum pariatur dolorum exercitationem incidunt odio itaque, et iusto.</p>
       </div>   
    </main>
</body>
</html>